<div class="container-md">
    <div class="mb-3">
        <label for="fruitName" class="form-label">Fruit Name</label>
        <input type="text" class="form-control" [(ngModel)]="fruitName">
    </div>
    <div class="mb-3">
        <label for="fruitSize" class="form-label">Fruit Size</label>
        <select class="form-select" [(ngModel)]="fruitSize">
            <option selected value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fruitWeight" class="form-label">Fruit Weight</label>
        <input type="text" class="form-control" placeholder="in gm's" [(ngModel)]="fruitWeight">
    </div>
    <div class="mb-3">
        <button (click)="onFruitAddClick()" type="button" class="btn btn-primary">Add Fruit</button>
    </div>
</div>